body { 
    font-family: 'Inter', sans-serif; 
    background-color: #f1f5f9; 
}

.page-content { 
    display: none; 
    animation: fadeIn 0.5s ease-in-out; 
}

.page-content.active { 
    display: block; 
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}